@import url('https://fonts.googleapis.com/css?family=css?family=Mu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100hv;
    overflow: hidden;
    margin: 0;
}

